body {
    margin: 0;
    overflow: hidden;
}

.main-desktop-banner {
    background-image: url(images_2/dektop_INFO.png);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    /* visibility: visible; */
    background-repeat: no-repeat;
    align-items: center top;
    display: block;
}

.whole-mobile-app {
    /* visibility: hidden;
    height: 0; */
    display: none;
}

@media (max-device-width: 768px) {
    body {
        overflow: scroll;
    }

    .main-desktop-banner {
        /* visibility: hidden;
        height: 0; */
        display: none;
    }

    .whole-mobile-app {
        /* visibility: visible; */
        display: block;
    }
}
