:root {
    --mainColor: #F49AC1;
    --mainColorDarker: #D37983;
    --mainColorDarker2: #dd7fa8;
    --basicPink: #EB008C;
    --lightPink: #f77ac5;
    --backgroundpink: #F9B2DC;
    --white: #fff;
    --black: #000;
}

.whole-mobile-app {
    font-family: 'myriad-pro', 'arial', sans-serif;
}

body {
    margin: 0;
    /* overflow: hidden; */
}

.main-desktop-banner {
    background-image: url(images_8/dektop_INFO.png);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center top;
    display: block;
}

.whole-mobile-app {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .main-desktop-banner {
        display: none;
    }

    .whole-mobile-app {
        display: block;
        background-color: var(--mainColor);
    }

    .whole-mobile-app .title {
        color: var(--white);
        background-color: var(--basicPink);
        text-align: center;
        font-family: 'myriad-pro', 'arial', sans-serif;
        font-size: 8vw;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding: 40px 10px;
    }

    .header-container {
        width: 100%;
        position: relative;
    }

    .sticky-header {
        background-color: var(--basicPink);
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .sticky-header .arrowSvg {
        position:absolute;
        right: 2px;
        top: 18px;
        opacity: 10;
    }

    .sticky-header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .sticky-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .sticky-header ul::-webkit-scrollbar {
        display: none;
    }

    .sticky-header li {
        margin-right: 20px;
        flex-shrink: 0;
    }

    .sticky-header a {
        display: inline-block;
        color: var(--white);
        text-align: center;
        padding: 10px 4px 4px 4px;
        text-decoration: none;
        font-family: "myriad-pro", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .whole-mobile-app #underlined:after {
        content:""; 
        float:left; 
        background: var(--lightPink); 
        width:100%; 
        height:4px; 
        border-radius: 3px;
      }

    .whole-mobile-app h1 {
        margin: 0;
        padding: 5vw 0 2vw 0;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 7.4vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
    }

    .whole-mobile-app h2 {
        margin: 0;
        padding: 2vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 4.8vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 2.4px;
        text-transform: uppercase;
    }

    .whole-mobile-app .pinkButton {
        bottom: 3vw;
        margin: 2vw 0 2vw 0;
        color: var(--white);
        font-family: "myriad-pro", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 900;
        line-height: 120.438%;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        display: inline-flex;
        padding: 2vw 4vw 2vw 4vw;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background: var(--basicPink);
        cursor: pointer;
    }

    .whole-mobile-app .pinkButton:hover {
        background: var(--lightPink);
    }

    .whole-mobile-app .mainMobileImage h5 {
        color: var(--black);
        text-align: left;
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2vw;
        margin: 0 0 2vw 0;
    }

    .whole-mobile-app .mainMobileImage h6 {
        color: var(--basicPink);
        text-align: left;
        font-family: "myriad-pro", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 4vw 0 2vw 0;
        top: 51%;
        letter-spacing: 0.4vw;
    }

    .whole-mobile-app .titleBox {
        background-color: var(--mainColor);
        height: 32vw;
        position: relative;
    }

    .whole-mobile-app video {
        object-fit: cover;
        width: 100%;
        height: 180vw;
    }

    .whole-mobile-app .mainMobileImage {
        height: 180vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whole-mobile-app .slideshowContainer {
        width: 80vw;
        position: absolute;
        bottom: 14vw;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        -webkit-scroll-snap-type: x mandatory;
        gap: 10vw;
        scroll-behavior: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .whole-mobile-app .slideshowContainer::-webkit-scrollbar {
        display: none;
      }


    .whole-mobile-app .mainMobileImage .scrollBox {
        width: 80vw;
        flex-shrink: 0;
        scroll-snap-align: center;
        -webkit-scroll-snap-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .whole-mobile-app .mainMobileImage .textBox {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.80);
        width: 80vw;
        height: 50vw;
        border-radius: 10px;
        margin-top: 12vw;
        bottom: 0;
    }

    .whole-mobile-app .mainMobileImage .contentBox {
        display: flex;
        flex-direction: column;
        margin: 4vw;
    }


    .whole-mobile-app .mainMobileImage .emptyBox {
        width: 34vw;
    }

    .whole-mobile-app .mainMobileImage .plainText {
        height: 26vw;
        padding: 0 0 0 3vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whole-mobile-app .mainMobileImage p {
        color: #000;
        text-align: left;
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 0;
    }

    .whole-mobile-app .mainMobileImage .dots {
        position: absolute;
        bottom: 4vw;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-top: 20px;
        width: 80vw;
    }

    .whole-mobile-app .dot {
        display: inline-block;
        height: 4vw;
        width: 4vw;
        margin: 0 2vw;
        background-color: var(--mainColorDarker);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .whole-mobile-app .dot.active {
        background-color: var(--white);
    }

    .whole-mobile-app .mainMobileImage .oneProductSector {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0vw;
        bottom: 10px;
    }

    .whole-mobile-app .mainMobileImage .pinkButton {
        padding: 1.4vw 2vw;
        font-size: 2.8vw;
        position: relative;
        bottom: 2vw;
    }

    .whole-mobile-app .mainMobileImage .productImages {
        width: auto;
    }

    .whole-mobile-app .mainMobileImage .productImg1 {
        content: url(./images_8/Magazyn_400x600_produkt.png);
        height: 40vw;
        margin: 2vw 0 2vw 0;
    }

    .whole-mobile-app .mainMobileImage .productImg2 {
        content: url(./images_8/Magazyn_400x600_produkt2.png);
        height: 40vw;
        margin: 2vw 2vw 2vw 0;
    }

    .whole-mobile-app .mainMobileImage .button2 {
        margin-left: 2vw;
    }

    .whole-mobile-app .mainMobileImage .productImg3 {
        content: url(./images_8/Magazyn_400x600_produkt3.png);
        height: 40vw;
        margin: 2vw 0 2vw 0;
    }

    .whole-mobile-app .mainMobileImage .productImg4 {
        content: url(./images_8/Magazyn_400x600_produkt4.png);
        height: 40vw;
        margin: 6vw 6vw 2vw 0;
    }

    .whole-mobile-app .mainMobileImage .button4 {
        margin-left: 4vw;
    }

    .whole-mobile-app .secondImage h4 {
        color: var(--black);
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 6vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 6vw 0 6vw 0;
        margin: 0;
        background-color: var(--white);
    }

    .whole-mobile-app .secondImage .threeBoxes {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .whole-mobile-app .secondImage .twoBoxes {
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .whole-mobile-app .secondImage .twoBoxes .oneProductSector {
        padding: 4vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

    }

    .whole-mobile-app .secondImage p {
        color: var(--white);
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-weight: 300;
        font-size: 4.4vw;
    }

    .whole-mobile-app .secondImage .productImg5 {
        content: url(./images_8/Magazyn_400x600_produkt6.png);
        height: 40vw;
        margin: 2vw 0;
    }

    .whole-mobile-app .secondImage .product1 {
        background-color: #F49AC1;
    }

    .whole-mobile-app .secondImage .productImg6 {
        content: url(./images_8/Magazyn_400x600_produkt5.png);
        height: 44vw;
        margin: 0 0 0 8vw;
    }

    .whole-mobile-app .secondImage .product2 {
        background-color: #F9C0C8;
    }

    .whole-mobile-app .secondImage .product3 {
        background-color: #D6B4BA;
        display: flex;
        flex-direction: row;
    }

    .whole-mobile-app .secondImage .product3 .contentBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6vw;
        text-align: center;
    }

    .whole-mobile-app .secondImage .productImg7 {
        content: url(./images_8/Magazyn_400x600_produkt7.png);
        height: 44vw;
        margin: 0 0 0 6vw;
        padding: 3vw;
    }

    .whole-mobile-app .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    .whole-mobile-app .secondImage .overlay.active {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .whole-mobile-app .secondImage .popup {
        background: transparent;
        padding: 0px;
        border-radius: 0px;
        width: 60vw;
        max-width: 450px;
        position: relative;
    }

    .whole-mobile-app .secondImage .imageP1 {
        padding: 0;
        position: relative;
        overflow: hidden;
        width: 80%;
        content: src("./images_8/tipy1.png");
    }

    .whole-mobile-app .imageP1 img {
        width: 100%;
        height: auto;
    }

    .whole-mobile-app .secondImage .close {
        position: absolute;
        right: 4vw;
        color: var(--basicPink);
        text-decoration: none;
        cursor: pointer;
        position: absolute;
    }

    .whole-mobile-app .secondImage .close:hover {
        color: #000;
    }



    .whole-mobile-app .thirdImage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 6vw 0 6vw 0;
        background-color: var(--white);
        align-items: center;
    }

    .whole-mobile-app .thirdImage .productImage {
        content: url(./images_8/Hebe_Collection_2.png);
        width: 94vw;
        height: auto;
    }

    .whole-mobile-app .thirdImage h6 {
        margin: 0 0 1vw 0;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
    }

    .whole-mobile-app .thirdImage .pinkButton {
        margin-top: -6vw;
    }

    .whole-mobile-app .fourthMobileImage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whole-mobile-app .fourthMobileImage .slideshowProduct2Container {
        width: 80vw;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 10vw;
        scroll-behavior: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .whole-mobile-app .fourthMobileImage h6 {
        margin: 6vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5.4vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.3vw;
    }

    .whole-mobile-app .fourthMobileImage h5 {
        margin: 0;
        color: var(--black);
        font-size: 5vw;
        font-family: "myriad-pro-condensed", sans-serif;
        font-weight: 400;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box .oneEyeImg1 {
        content: url(./images_8/eye1.png);
        width: 100%;
        height: auto;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box .oneEyeImg2 {
        content: url(./images_8/eye2.png);
        width: 100%;
        height: auto;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box .oneEyeImg3 {
        content: url(./images_8/eye3.png);
        width: 100%;
        height: auto;
    }

    .whole-mobile-app .fourthMobileImage .numbers {
        margin-top: -3px;
        width: 20vw;
        height: auto;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box3 p {
        margin: 4vw 6vw 6vw 4vw;
    }

    .whole-mobile-app .fourthMobileImage .number1 {
        content: url('./images_8/numb1.png');
    }

    .whole-mobile-app .fourthMobileImage .number2 {
        content: url('./images_8/numb2.png');
    }

    .whole-mobile-app .fourthMobileImage .number3 {
        content: url('./images_8/numb3.png');
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box h6 {
        margin: 1vw 0;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 6vw;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.3vw;
        line-height: normal;
        text-transform: uppercase;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box {
        width: 80vw;
        height: auto;
        border-radius: 15px;
        background: #FFF;
        flex-shrink: 0;
        text-align: center;
        scroll-snap-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vw;
        position: relative;
        justify-content: space-between;
    }

    .whole-mobile-app .fourthMobileImage .titleBoxText {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .whole-mobile-app .fourthMobileImage .liekeItImg {
        width: 7vw;
        height: auto;
        margin-right: 2vw;
    }

    .whole-mobile-app .fourthMobileImage .slideshowProduct2Container::-webkit-scrollbar {
        display: none;
    }

    .whole-mobile-app .fourthMobileImage .productSectors {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .whole-mobile-app .fourthMobileImage .productSectors h4 {
        font-size: 20vw;
        color: var(--basicPink);
        margin: 10vw -2vw;
    }

    .whole-mobile-app .fourthMobileImage ul {
        text-align: left;
        color: #000;
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-size: 3vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0;
        padding-left: 8vw;
        margin: 2vw 4vw;
    }

    .whole-mobile-app .fourthMobileImage .contentBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box1 .contentBox .pinkButton {
        font-size: 3vw;
        padding: 1.8vw 2vw;
        position: absolute;
        bottom: 3vw;
        margin-left: -11vw;
        width: 22vw;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box1 .oneProductSector {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vw;
        width: 22vw;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box2 .oneProductSector {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2vw;
    }

    .whole-mobile-app .fourthMobileImage p {
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-weight: 300;
        font-size: 3vw;
        margin: 2vw 0;
    }

    .whole-mobile-app .fourthMobileImage .scrollProduct2Box1 .productImages {
        width: auto;
        height: 40vw;
        margin: 2vw 0 2vw 0;
        position: absolute;
        bottom: 12vw;
    }

    .whole-mobile-app .fourthMobileImage .emptyBox {
        height: 54vw;
    }

    .whole-mobile-app .fourthMobileImage .productImg1 {
        content: url(./images_8/Magazyn_400x600_produkt8b.png);

    }

    .whole-mobile-app .fourthMobileImage .productImg2 {
        content: url(./images_8/Magazyn_400x600_produkt9b.png);
    }

    .whole-mobile-app .fourthMobileImage .productImg3 {
        content: url(./images_8/Magazyn_400x600_produkt10b.png);
    }

    .whole-mobile-app .fourthMobileImage .productImg4 {
        content: url(./images_8/Magazyn_400x600_produkt12b.png);
        height: 24vw;
    }



    .whole-mobile-app .dots3 {
        position: inherit;
        text-align: center;
        margin-top: 0px;
    }

    .whole-mobile-app .dot3 {
        display: inline-block;
        height: 4vw;
        width: 4vw;
        margin: 0 2vw;
        background-color: var(--mainColorDarker2);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .whole-mobile-app .dot3.active {
        background-color: var(--white);
    }

    .whole-mobile-app .fifthMobileImage {
        background-image: url(./images_8/red_face.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 140vw;
        position: relative;
        margin-top: 4vw;
        padding-top: 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whole-mobile-app .fifthMobileImage h6 {
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-weight: 600;
        font-size: 5vw;
        color: var(--black);
        background-color: var(--white);
        padding: 2vw 4vw;
        margin: 4vw 6vw;
        border-radius: 10px;
        letter-spacing: 0.6vw;
        text-align: center;
    }

    .whole-mobile-app .fifthMobileImage .slideshowContainer2 {
        width: 80vw;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 10vw;
        scroll-behavior: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .whole-mobile-app .fifthMobileImage .emptyBox {
        width: 34vw;
    }

    .whole-mobile-app .fifthMobileImage .slideshowContainer2::-webkit-scrollbar {
        display: none;
    }

    .whole-mobile-app .fifthMobileImage .svgDots2 {
        position: relative;
        height: 60vw;
        width: 100%;
    }

    .whole-mobile-app .fifthMobileImage .svgDots2 .dot-svg2 {
        position: absolute;
        transition: all 0.3s ease;
        margin: 4vw;
        cursor: pointer;
    }

    .whole-mobile-app .fifthMobileImage .dot-svg2.active circle {
        stroke-opacity: 1;
        fill-opacity: 1;
    }

    .whole-mobile-app .fifthMobileImage .dotOne {
        top: 8vw;
        left: 59vw;
    }

    .whole-mobile-app .fifthMobileImage .dotTwo {
        top: 4vw;
        left: 16vw;
    }

    .whole-mobile-app .fifthMobileImage .dotThree {
        top: 16vw;
        left: 20vw;
    }

    .whole-mobile-app .fifthMobileImage .scrollBox2 {
        width: 80vw;
        flex-shrink: 0;
        scroll-snap-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .whole-mobile-app .fifthMobileImage .textBox {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.80);
        width: 80vw;
        height: auto;
        border-radius: 10px;
        margin-top: 14vw;
        bottom: 0;
    }

    .whole-mobile-app .fifthMobileImage .contentBox {
        display: flex;
        flex-direction: column;
        margin: 4vw;
    }

    .whole-mobile-app .fifthMobileImage h5 {
        margin: 4vw 10vw 4vw 0;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-weight: 700;
        font-size: 3.4vw;
    }

    .whole-mobile-app .fifthMobileImage .emptyBox {
        width: 34vw;
    }

    .whole-mobile-app .fifthMobileImage p {
        color: #000;
        text-align: left;
        font-family: "myriad-pro-semi-condensed", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 0;
    }

    .whole-mobile-app .fifthMobileImage .dots2 {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-top: 20px;
        width: 80vw;
    }

    .whole-mobile-app .dot2 {
        display: inline-block;
        height: 4vw;
        width: 4vw;
        margin: 0 2vw;
        background-color: var(--mainColorDarker2);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .whole-mobile-app .dot2.active {
        background-color: var(--white);
    }

    .whole-mobile-app .fifthMobileImage .oneProductSector {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0vw;
    }

    .whole-mobile-app .fifthMobileImage .pinkButton {
        padding: 1.4vw 2vw;
        font-size: 2.8vw;
        position: relative;
        bottom: 2vw;
    }

    .whole-mobile-app .fifthMobileImage .productImages {
        width: auto;
    }

    .whole-mobile-app .fifthMobileImage .productImg1 {
        content: url(./images_8/Magazyn_400x600_produkt11b.png);
        height: 26vw;
        margin: 4vw 4vw 2vw 4vw;
    }

    .whole-mobile-app .fifthMobileImage .productImg2 {
        content: url(./images_8/Magazyn_400x600_produkt13.png);
        height: 30vw;
        margin: 0vw 4vw 2vw 0;
    }

    .whole-mobile-app .fifthMobileImage .productImg3 {
        content: url(./images_8/Magazyn_400x600_produkt14c.png);
        height: 24vw;
        margin: 5.9vw 0 2vw 0;
    }

    .whole-mobile-app .fifthMobileImage .button2 {
        margin-right: 4vw;
    }

    .whole-mobile-app .fifthMobileImage .button3 {
        margin-right: 5vw;
    }

    .whole-mobile-app .footerBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .whole-mobile-app .footerBtns .pinkButton {
        position: relative;
        justify-content: flex-end;
    }

    .whole-mobile-app .viteZe {
        background-color: var(--basicPink);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        margin: 40px 0 30px 0;
    }

    .whole-mobile-app .i-svg {
        margin: 6px;
    }

    .whole-mobile-app .viteZe h5 {
        color: var(--white);
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        margin: 10px 0 4px 0;
    }

    .whole-mobile-app .viteZe h6 {
        color: var(--white);
        text-transform: uppercase;
        font-style: normal;
        font-weight: 300;
        margin: 0 0 16px 0;
        font-size: 5vw;
    }

    .whole-mobile-app .whiteButton {
        background-color: var(--white);
        color: var(--basicPink);
        margin: 10px 0 10px 0;
    }

    .whole-mobile-app .popup {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 60vw;
        max-width: 450px;
        position: relative;
    }

    .whole-mobile-app .overlay2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    .whole-mobile-app .overlay2.active {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .whole-mobile-app .imageP {
        background-color: #F287B7;
        padding: 0;
        position: relative;
        overflow: hidden;
        width: 90%;
        border-radius: 10px;
    }

    .whole-mobile-app .imageP img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .close {
        position: absolute;
        right: 4vw;
        color: #fff;
        font-size: 10vw;
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
        margin: 0 2vw;
    }

    .whole-mobile-app .imageP .close:hover {
        color: #000;
    }

    .whole-mobile-app .imageP1 .close:hover {
        color: #000;
    }

    .whole-mobile-app .imageP .pinkButton {
        position: absolute;
        padding: 2vw 3vw;
        font-size: 3vw;
    }

    .whole-mobile-app .imageP .btn1 {
        right: 2.2vw;
        bottom: 47vw;
    }

    .whole-mobile-app .imageP .btn2 {
        right: 2.2vw;
        bottom: 4vw;
    }

}