:root {
    --mainColor: #F8AFB3;
    --mainColorDarker: #e09497;
    --basicPink: #EB008C;
    --lightPink: #f77ac5;
    --white: #fff;
    --black: #000;
}

* {
    font-family: 'myriad-pro', 'arial', sans-serif;
}

body {
    margin: 0;
    /* overflow: hidden; */
}

.main-desktop-banner {
    background-image: url(images_4/dektop_INFO.png);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center top;
    display: block;
}

.whole-mobile-app {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .main-desktop-banner {
        display: none;
    }

    .whole-mobile-app {
        display: block;
        background-color: var(--mainColor);
    }

    .whole-mobile-app .title {
        color: var(--white);
        background-color: var(--basicPink);
        text-align: center;
        font-family: 'myriad-pro', 'arial', sans-serif;
        font-size: 8vw;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding: 40px 10px;
    }

    .header-container {
        width: 100%;
        position: relative;
    }

    .sticky-header {
        background-color: var(--basicPink);
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .sticky-header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .sticky-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .sticky-header ul::-webkit-scrollbar {
        display: none;
    }

    .sticky-header li {
        margin-right: 20px;
        flex-shrink: 0;
    }

    .sticky-header a {
        display: inline-block;
        color: var(--white);
        text-align: center;
        padding: 10px 4px 4px 4px;
        text-decoration: none;
        font-family: "myriad-pro", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .whole-mobile-app video {
        object-fit: cover;
        width: 100%;
        height: 180vw;
    }

    .whole-mobile-app h1 {
        margin: 0;
        padding: 5vw 0 2vw 0;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 8vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
    }

    .whole-mobile-app h2 {
        margin: 0;
        padding: 2vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 2.4px;
    }

    .whole-mobile-app h5 {
        color: var(--black);
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.2vw;
        margin: 12vw 4vw 2vw 4vw;
    }

    .whole-mobile-app .titleBox {
        background-color: var(--mainColor);
        height: 60vw;
        position: relative;
    }

    .whole-mobile-app .mainMobileImage {
        height: 240vw;
        position: relative;
    }

    /* .whole-mobile-app .slideshowContainer {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 50px;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 10vw;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }
    
      .whole-mobile-app .slideshowContainer::-webkit-scrollbar {
        display: none;
      } */

    .whole-mobile-app .slideshowContainer {
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 50px;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 10vw;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }


    .whole-mobile-app .scrollBox {
        width: 80vw;
        height: auto;
        flex-shrink: 0;
        scroll-snap-align: center;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.80);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 8vw;
        position: relative;
    }

    .whole-mobile-app p {
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 2vw 4vw 4vw 4vw;
    }


    /* .whole-mobile-app .scrollProductBox {
        width: 80vw;
        height: 64vw;
        flex-shrink: 0;
        scroll-snap-align: center;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.80);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 8vw;
        position: relative;
      } */

    /* .whole-mobile-app .slideshowProductContainer ul {
        padding: 2vw 0 2vw 4vw;
        margin: 0 6vw 0 6vw;
    }

    .whole-mobile-app .slideshowProductContainer li {
        padding-left: 4px;
        color: #000;
        font-family: "myriad-pro-condensed", sans-serif;
        font-size: 4.4vw;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    } */

    .whole-mobile-app .pinkButton {
        position: absolute;
        bottom: 3vw;
        margin: 2vw 0 2vw 0;
        color: var(--white);
        font-family: "myriad-pro", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 900;
        line-height: 120.438%;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        display: inline-flex;
        padding: 2vw 4vw 2vw 4vw;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background: var(--basicPink);
        cursor: pointer;
    }

    .whole-mobile-app .pinkButton:hover {
        background: var(--lightPink);
    }

    .whole-mobile-app .dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-top: 20px;
    }

    .whole-mobile-app .dot {
        display: inline-block;
        height: 4vw;
        width: 4vw;
        margin: 0 2vw;
        background-color: var(--mainColorDarker);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .whole-mobile-app .dot:hover,
    .whole-mobile-app .dot.active {
        background-color: var(--white);
    }

    .whole-mobile-app .numbers {
        position: absolute;
        top: -1px;
        width: 20vw;
        height: auto;
    }

    .whole-mobile-app .number1 {
        content: url('./images_4/numb1.png');
    }

    .whole-mobile-app .number2 {
        content: url('./images_4/numb2.png');
    }

    .whole-mobile-app .number3 {
        content: url('./images_4/numb3.png');
    }

    .whole-mobile-app .number4 {
        content: url('./images_4/numb4.png');
    }

    .whole-mobile-app .number5 {
        content: url('./images_4/numb5.png');
    }

    .whole-mobile-app .number6 {
        content: url('./images_4/numb6.png');
    }

    .whole-mobile-app .number7 {
        content: url('./images_4/numb7.png');
    }

    .whole-mobile-app .number8 {
        content: url('./images_4/numb8.png');
    }

    .whole-mobile-app .number9 {
        content: url('./images_4/numb9.png');
    }

    .whole-mobile-app .number10 {
        content: url('./images_4/numb10.png');
    }

    .whole-mobile-app .productSectors{
        display:flex;
        flex-direction: row;
        justify-content: center;
      }
    
      .whole-mobile-app .oneProductSector {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 8px 2px 8px;
      }
    
      .whole-mobile-app .productImages {
        margin: 2vw 0 6vw 0;
        height: 40vw;
        width: auto;
      }
    
      .whole-mobile-app .productImg1 {
        content: url('./images_4/Magazyn_400x600_produkt.png');
      }

      .whole-mobile-app .productImg2 {
        content: url('./images_4/Magazyn_400x600_produkt6.png');
      }

      .whole-mobile-app .productImg3 {
        content: url('./images_4/Magazyn_400x600_produkt7.png');
      }

      .whole-mobile-app .productImg4 {
        content: url('./images_4/Magazyn_400x600_produkt3.png');
      }

      .whole-mobile-app .productImg5  {
        content: url('./images_4/Magazyn_400x600_produkt2.png');
      }

      .whole-mobile-app .productImg6 {
        content: url('./images_4/Magazyn_400x600_produkt5.png');
      }

      .whole-mobile-app .productImg7 {
        content: url('./images_4/Magazyn_400x600_produkt9.png');
      }

      .whole-mobile-app .productImg8 {
        content: url('./images_4/Magazyn_400x600_produkt8.png');
      }

      .whole-mobile-app .productImg9 {
        content: url('./images_4/Magazyn_400x600_produkt4.png');
      }

      .whole-mobile-app .productImg10 {
        content: url('./images_4/Magazyn_400x600_produkt10.png');
      }


}