:root {
    --mainColor: #9ED7D1;
    --secondColor: #0EB7A9;
    --mainColorDarker: #6ea8a2;
    --basicPink: #EB008C;
    --lightPink: #f77ac5;
    --white: #fff;
    --black: #000;
}

.whole-mobile-app {
    font-family: 'myriad-pro', 'arial', sans-serif;
}

body {
    margin: 0;
}

.main-desktop-banner {
    background-image: url(images_2/dektop_INFO.png);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center top;
    display: block;
}

.whole-mobile-app {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .main-desktop-banner {
        display: none;
    }

    .whole-mobile-app {
        display: block;
        background-color: var(--mainColor);
    }

    .whole-mobile-app h1 {
        margin: 0;
        padding: 5vw 0 2vw 0;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 8vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3.2px;
    }

    .whole-mobile-app h2 {
        margin: 0;
        padding: 2vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 2.4px;
    }

    .whole-mobile-app h5 {
        color: var(--basicPink);
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 8vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 3px;
        margin: 6vw 0 2vw 0;
    }

    .whole-mobile-app .title {
        color: var(--white);
        background-color: var(--basicPink);
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 8vw;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding: 40px 10px;
    }

    .header-container {
        width: 100%;
        position: relative;
    }

    .sticky-header {
        background-color: var(--basicPink);
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .sticky-header .arrowSvg {
        position:absolute;
        right: 2px;
        top: 18px;
        opacity: 10;
    }

    .sticky-header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .sticky-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .sticky-header ul::-webkit-scrollbar {
        display: none;
    }

    .sticky-header li {
        margin-right: 20px;
        flex-shrink: 0;
    }

    .whole-mobile-app .pinkButton {
        position: absolute;
        bottom: 3vw;
        margin: 2vw 0 2vw 0;
        color: var(--white);
        font-family: "myriad-pro", sans-serif;
        font-size: 4vw;
        font-style: normal;
        font-weight: 900;
        line-height: 120.438%;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        display: inline-flex;
        padding: 2vw 4vw 2vw 4vw;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;
        background: var(--basicPink);
        cursor: pointer;
    }

    .whole-mobile-app .pinkButton:hover {
        background: var(--lightPink);
    }

    .sticky-header a {
        display: inline-block;
        color: var(--white);
        text-align: center;
        padding: 10px 4px 4px 4px;
        text-decoration: none;
        font-family: "myriad-pro", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .whole-mobile-app .titleBox {
        background-color: var(--mainColor);
        height: 38vw;
        position: relative;
    }

    .whole-mobile-app .mainMobileImage {
        background-image: url('./images_2/main_image.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 140vw;
    }

    .whole-mobile-app .mainMobileImage .mainTextBox {
        width: 70vw;
        height: 30vw;
        flex-shrink: 0;
        scroll-snap-align: center;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.80);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        position: relative;
        top: 86vw;
        color: #000;
        padding: 20px 6vw;
        text-align: center;
        font-family: "myriad-pro";
        font-size: 4vw;
        font-style: normal;
        font-weight: 300;
        line-height: 120.03%;
    }

    .whole-mobile-app .middleImage {
        background-image: url('./images_2/middle_image.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vw;
    }

    .whole-mobile-app .middleImage h6 {
        padding: 4vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0 0 4vw 0;
    }

    .whole-mobile-app .middleImage .description {
        width: 50vw;
        margin-left: 40vw;
    }

    .whole-mobile-app .middleImage .description .middName {
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 3.8vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 3vw;
    }

    .whole-mobile-app .middleImage .description .middDescription {
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .whole-mobile-app .middleImage .textBoxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.6vw;
        margin: 4vw auto;
        max-width: 90vw;
    }

    .whole-mobile-app .middleImage .textBox {
        display: flex;
        margin: 1vw;
        height: 20vw;
        width: 40vw;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.10), 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
        color: var(--secondColor);
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 3.4vw;
        font-weight: 900;
        line-height: normal;
        cursor: pointer;
    }

    .whole-mobile-app .secondMobileImage .slideshowProductContainer {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        scroll-snap-type: x mandatory;
        gap: 10vw;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .whole-mobile-app .secondMobileImage h6 {
        margin: 4vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5.2vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.3vw;
    }

    .whole-mobile-app .secondMobileImage .scrollProductBox h6 {
        margin: 4vw 4vw 2vw 4vw;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 5.2vw;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.3vw;
        line-height: normal;
    }

    .whole-mobile-app .secondMobileImage .scrollProductBox p {
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 3vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.2vw;
        margin: 0 4vw 0 4vw;
    }

    .whole-mobile-app .secondMobileImage .scrollProductBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .whole-mobile-app .secondMobileImage .scrollProductBox {
        width: 74vw;
        height: auto;
        border-radius: 15px;
        background: #FFF;
        padding: 4vw;
        flex-shrink: 0;
        text-align: center;
        scroll-snap-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 8vw 20px 8vw;
        position: relative;
        box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
    }

    .whole-mobile-app .secondMobileImage .productSectors {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .whole-mobile-app .secondMobileImage .oneProductSector {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 8px 2px 8px;
    }

    .whole-mobile-app .oneProductSector .pinkButton {
        padding: 2vw 3vw;
        bottom: 0px;
        position: relative;
    }

    .whole-mobile-app .secondMobileImage .productImages {
        margin: 2vw 0 2vw 0;
        height: 40vw;
        width: auto;
    }

    .whole-mobile-app .productImg1 {
        content: url(./images_2/Magazyn_400x600_produkt5.png);
    }

    .whole-mobile-app .productImg2 {
        content: url(./images_2/Magazyn_400x600_produkt15.png);
    }

    .whole-mobile-app .productImg3 {
        content: url(./images_2/Magazyn_400x600_produkt4.png);
    }

    .whole-mobile-app .productImg4 {
        content: url(./images_2/Magazyn_400x600_produkt10.png);
    }

    .whole-mobile-app .productImg5 {
        content: url(./images_2/Magazyn_400x600_produkt6.png);
    }

    .whole-mobile-app .productImg6 {
        content: url(./images_2/Magazyn_400x600_produkt12.png);
    }

    .whole-mobile-app .productImg7 {
        content: url(./images_2/Magazyn_400x600_produkt7.png);
    }

    .whole-mobile-app .productImg8 {
        content: url(./images_2/Magazyn_400x600_produkt13.png);
    }

    .whole-mobile-app .productImg9 {
        content: url(./images_2/Magazyn_400x600_produkt8.png);
    }

    .whole-mobile-app .productImg10 {
        content: url(./images_2/Magazyn_400x600_produkt3.png);
    }

    .whole-mobile-app .productImg11 {
        content: url(./images_2/Magazyn_400x600_produkt.png);
    }

    .whole-mobile-app .productImg12 {
        content: url(./images_2/Magazyn_400x600_produkt14.png);
    }

    .whole-mobile-app .productImg13 {
        content: url(./images_2/Magazyn_400x600_produkt11.png);
    }

    .whole-mobile-app .productImg14 {
        content: url(./images_2/Magazyn_400x600_produkt9.png);
    }

    .whole-mobile-app .productImg15 {
        content: url(./images_2/Magazyn_400x600_produkt2.png);
    }

    .whole-mobile-app .productImg16 {
        content: url(./images_2/Magazyn_400x600_produkt16.png);
    }

    .whole-mobile-app .dots {
        position: inherit;
        text-align: center;
        margin-top: 0px;
      }
    
      .whole-mobile-app .dot {
        display: inline-block;
        height: 4vw;
        width: 4vw;
        margin: 0 2vw;
        background-color: var(--mainColorDarker);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
      }
    
      .whole-mobile-app .dot:hover,
      .whole-mobile-app .dot.active {
        background-color: var(--white);
      }

      .whole-mobile-app .footerBtns {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        position: relative;
      }
    
      .whole-mobile-app .footerBtns .pinkButton {
        position: relative;
        justify-content: flex-end;
      }
    
      .whole-mobile-app .viteZe {
        background-color: var(--basicPink);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        margin: 40px 0 30px 0;
      }
    
      .whole-mobile-app .i-svg {
        margin:6px;
      }
    
      .whole-mobile-app .viteZe h5 {
        color: var(--white);
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        margin: 10px 0 4px 0;
      }
    
      .whole-mobile-app .viteZe h6 {
        color: var(--white);
        text-transform: uppercase;
        font-style: normal;
        font-weight: 300;
        margin: 0 0 10px 0;
        font-size: 5vw;
        text-align: center;
      }
    
      .whole-mobile-app .whiteButton {
        background-color: var(--white);
        color: var(--basicPink);
        margin: 20px 0 0 0;
      }

      .whole-mobile-app .popup {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 60vw;
        max-width: 400px;
        position: relative;
    }
    
      .whole-mobile-app .overlay2 {
        display: none;
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    
    .whole-mobile-app .overlay2.active {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .whole-mobile-app .overlay1 {
        display: none;
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    .whole-mobile-app button {
        border: none;
    }
    
    .whole-mobile-app .overlay1.active {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .whole-mobile-app .imageP1 {
        background-color: #E9F5F3;
        padding: 0;
        position: relative;
        overflow: hidden;
        width:80%;
        border-radius: 10px;
      }
      
      .whole-mobile-app .imageP1 img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

    .whole-mobile-app .imageP {
      background-color: #F287B7;
      padding: 0;
      position: relative;
      overflow: hidden;
      width:80%;
      border-radius: 10px;
    }
    
    .whole-mobile-app .imageP img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .close {
        position: absolute;
        right: 4vw;
        color: #fff;
        font-size: 7vw;
        text-decoration: none;
        cursor: pointer;
      }
    
    .whole-mobile-app .imageP .close:hover {
      color: #000;
    }

    .whole-mobile-app .imageP1 .close:hover {
        color: #000;
      }

      .imageP1 .close {
        color: var(--secondColor);
        top: 2px;
      }
      

}