body {
    margin: 0;
    overflow: hidden;
}

.main-desktop-banner {
    background-image: url(images/dektop_INFO.png);
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    align-items: center top;
}

.whole-mobile-app {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
    }

    .main-desktop-banner {
        display: none;
    }

    .whole-mobile-app {
        display: block;
    }

    .whole-mobile-app video {
        width: 100%;
        height: auto;
      }

      .whole-mobile-app h3 {
        margin-top: 10px;
        margin-bottom: 6px;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
    }

    .whole-mobile-app h4 {
        margin: 6px 0;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.96px;
    }


    .whole-mobile-app p {
        margin-bottom: 20px;
        color: #000;
        text-align: center;
        font-family: "myriad-pro", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.96px;
        text-decoration-line: underline;
        text-transform: uppercase;
    }

    .whole-mobile-app a.fill-div {
        height: 100%;
        text-decoration: none;
    }

    .whole-mobile-app .textContainer {
        height: 90%;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px 2vw;
        position: relative;
    }

    .whole-mobile-app .textContainerLogo {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .whole-mobile-app .textContainerLogo h3 {
        color: #fff;
        margin: 12px;
    }

    .whole-mobile-app .textWrapper {
        text-wrap: wrap;
        width: 50vw;
        margin-top: 20px;
    }

    .whole-mobile-app .menuBox {
        height: 253px;
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;
        position: relative;
    }

    .whole-mobile-app .box1 {
        background-color: #D6C7B0;
    }

    .whole-mobile-app .box2 {
        background-color: #87DBD4;
    }

    .whole-mobile-app .box3 {
        background-color: #FAB584;
    }

    .whole-mobile-app .box4 {
        background-color: #F8AFB3;
    }

    .whole-mobile-app .box5 {
        background-color: #4E5F39;
    }

    .whole-mobile-app .box6 {
        background-color: #D3DADE;
    }

    .whole-mobile-app .box7 {
        background-color: #B9B6B8;
    }

    .whole-mobile-app .box8 {
        background-color: #F49AC1;
    }

    .whole-mobile-app .box9 {
        background-color: #EB008C;
        height: 180px;
        margin-bottom: 12px;
    }
    
    
    .whole-mobile-app .boxImage {
        height: 253px;
        position: absolute;
        left: 0;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .whole-mobile-app .image1 {
        background-image: url(./images/MENU_Pielegnacja1.png);
        height: 254px;
        width: 209.024px;
    }

    .whole-mobile-app .image2 {
        background-image: url(./images/MENU_dermo1.png);
        height: 254px;
        width: 208.209px;
    }

    .whole-mobile-app .image3 {
        background-image: url(./images/MENU_SPF1.png);
        height: 254px;
        width: 180.366px;
    }

    .whole-mobile-app .image4 {
        background-image: url(./images/MENU_KOREA1.png);
        width: 339.45px;
    }

    .whole-mobile-app .image5 {
        background-image: url(./images/MENU_Naturalne1.png);
        height: 254px;
        width: 194.365px;
    }

    .whole-mobile-app .image6 {
        background-image: url(./images/MENU_PROFESJONALNE1.png);
        width: 238px;
    }

    .whole-mobile-app .image7 {
        background-image: url(./images/MENU_Wlosy1.png);
        width: 227px;
    }

    .whole-mobile-app .image8 {
        background-image: url(./images/MENU_Makijaz1.png);
        width: 321px;
    }

}