:root {
  --mainColor: #E2DBCF;
  --mainColorDarker: #cabfaa;
  --basicPink: #EB008C;
  --lightPink: #f77ac5;
  --white: #fff;
  --black: #000;
}

* {
  font-family: 'myriad-pro', 'arial', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.main-desktop-banner {
  background-image: url(images_1/dektop_INFO.png);
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center top;
  display: block;
}

.whole-mobile-app {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .main-desktop-banner {
    display: none;
}

.whole-mobile-app {
    display: block;
}

  .whole-mobile-app video {
    object-fit: cover;
    width: 100%;
    height: 180vw;
  }

  .whole-mobile-app h1 {
    margin: 0;
    padding: 5vw 0 2vw 0;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
  }

  .whole-mobile-app h2 {
    margin: 0;
    padding: 2vw;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.4px;
  }

  .whole-mobile-app h5 {
    color: var(--basicPink);
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 8vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    margin: 6vw 0 2vw 0;
  }

  .whole-mobile-app .titleBox {
    background-color: var(--mainColor);
    height: 38vw;
    position: relative;
  }

  .whole-mobile-app .mainMobileImage {
    height: 180vw;
    position: relative;
  }

  .whole-mobile-app .slideshowContainer {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 50px;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10vw;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .whole-mobile-app .slideshowContainer::-webkit-scrollbar {
    display: none;
  }

  .whole-mobile-app .scrollBox {
    width: 80vw;
    height: 64vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8vw;
    position: relative;
  }

  .whole-mobile-app ul {
    padding: 2vw 0 2vw 4vw;
    margin: 0 6vw 0 6vw;
  }

  .whole-mobile-app li {
    padding-left: 4px;
    color: #000;
    font-family: "myriad-pro-condensed", sans-serif;
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .whole-mobile-app .pinkButton {
    position: absolute;
    bottom: 3vw;
    margin: 2vw 0 2vw 0;
    color: var(--white);
    font-family: "myriad-pro", sans-serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: 900;
    line-height: 120.438%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 2vw 4vw 2vw 4vw;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background: var(--basicPink);
    cursor: pointer;
  }

  .whole-mobile-app .pinkButton:hover {
    background: var(--lightPink);
  }

  .whole-mobile-app .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;
  }

  .whole-mobile-app .dot {
    display: inline-block;
    height: 4vw;
    width: 4vw;
    margin: 0 2vw;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .whole-mobile-app .dot:hover,
  .whole-mobile-app .dot.active {
    background-color: var(--mainColorDarker);
  }

  .whole-mobile-app .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .whole-mobile-app .popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
    max-width: 400px;
    position: relative;
  }

 .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
  }

 .close:hover {
    color: #000;
  }

  .whole-mobile-app .overlay.active {
    visibility: visible;
    opacity: 1;
  }

  .whole-mobile-app h6 {
    margin: 8vw;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .whole-mobile-app .slideshowProductContainer {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10vw;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .whole-mobile-app .slideshowProductContainer::-webkit-scrollbar {
    display: none;
  }

  .whole-mobile-app .scrollProductBox {
    width: 74vw;
    height: auto;
    padding: 4vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    border: 2px solid var(--mainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8vw 20px 8vw;
    position: relative;
  }

  .whole-mobile-app .numbers {
    position: absolute;
    top: -1px;
    width: 30vw;
    height: auto;
  }

  .whole-mobile-app .number1 {
    content: url('./images_1/numb1.png');
  }

  .whole-mobile-app .number2 {
    content: url('./images_1//numb2.png');
  }

  .whole-mobile-app .number3 {
    content: url('./images_1/numb3.png');
  }

  .whole-mobile-app .scrollProductBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .whole-mobile-app .scrollProductBox h6 {
    margin: 16vw 0 0 0;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .whole-mobile-app p {
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin:0;
  }

  .whole-mobile-app .productSectors{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .whole-mobile-app .oneProductSector {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 4px 2px 2px;
  }

  .whole-mobile-app .productImages {
    height: 44vw;
    width: auto;
  }

  .whole-mobile-app .productImg1 {
    content: url('./images_1/Magazyn_400x600_produkt.png');
  }

  .whole-mobile-app .productImg2 {
    content: url('./images_1/Magazyn_400x600_produkt2.png');
  }

  .whole-mobile-app .productImg3 {
    content: url('./images_1/Magazyn_400x600_produkt3.png');
  }

  .whole-mobile-app .productImg4 {
    content: url('./images_1/Magazyn_400x600_produkt4.png');
  }

  .whole-mobile-app .productImg5 {
    content: url('./images_1/Magazyn_400x600_produkt5.png');
  }

  .whole-mobile-app .productImg6 {
    content: url('./images_1/Magazyn_400x600_produkt6.png');
  }

  .whole-mobile-app .oneProductSector .pinkButton {
    padding: 2vw 3vw;
    bottom: 0px;
    position: relative;
  }

  .whole-mobile-app .secondMobileImage {
    height: 200vw;
    position: relative;
    display: block;
    justify-content: space-around;

  }

  .whole-mobile-app .slideshowProductContainer h2 {
    font-style: normal;
    font-weight: 600;
  }


  .whole-mobile-app .dotsSpace {
    height:30px;
  }

  .whole-mobile-app .secondMobileImage .dots {
    bottom: 0px;
  }

  .whole-mobile-app .dot2 {
    display: inline-block;
    height: 4vw;
    width: 4vw;
    margin: 0 2vw;
    background-color: var(--mainColor);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .whole-mobile-app .dot2:hover,
  .whole-mobile-app .dot2.active {
    background-color: var(--mainColorDarker);
  }

  .whole-mobile-app .footerBtns {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    position: relative;
  }

  .whole-mobile-app .footerBtns .pinkButton {
    position: relative;
    justify-content: flex-end;
  }

  .whole-mobile-app .viteZe {
    background-color: var(--basicPink);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 4px;
    margin: 40px 0 12px 0;
  }

  .whole-mobile-app .i-svg {
    margin:6px;
  }

  .whole-mobile-app .viteZe h5 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    margin: 10px 0 4px 0;
  }

  .whole-mobile-app .viteZe h6 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 10px 0;
  }

  .whole-mobile-app .whiteButton {
    background-color: var(--white);
    color: var(--basicPink);
    margin: 20px 0 0 0;
  }

  .whole-mobile-app .overlay2 {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.whole-mobile-app .overlay2.active {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.whole-mobile-app .imageP {
  background-color: #F287B7;
  padding: 0;
  overflow: hidden;
}

.whole-mobile-app .imageP img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.whole-mobile-app .imageP .close {
  color: #fff;
  top: 0px;
  right: 15px;
}

.whole-mobile-app .imageP .close:hover {
  color: #000;
}

}