:root {
  --mainColor: #E2DBCF;
  --mainColorDarker: #cabfaa;
  --basicPink: #EB008C;
  --lightPink: #f77ac5;
  --white: #fff;
  --black: #000;
}

* {
  font-family: 'myriad-pro', 'arial', sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.main-desktop-banner {
  background-image: url(images_1/dektop_INFO.png);
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  /* visibility: visible; */
  background-repeat: no-repeat;
  align-items: center top;
  display: block;
}

.whole-mobile-app {
  /* visibility: hidden;
  height: 0; */
  display: none;
}

/* @media (max-device-width: 768px) { */
@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  /* .main-desktop-banner {
    visibility: hidden;
    height: 0;
  }

  .whole-mobile-app {
    visibility: visible;
  } */

  .main-desktop-banner {
    /* visibility: hidden;
    height: 0; */
    display: none;
}

.whole-mobile-app {
    /* visibility: visible; */
    display: block;
}

  video {
    /* width: 100%;
        height: auto; */
    object-fit: cover;
    width: 100%;
    height: 180vw;
  }

  h1 {
    margin: 0;
    padding: 5vw 0 2vw 0;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 8vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
  }

  h2 {
    margin: 0;
    padding: 2vw;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.4px;
  }

  h5 {
    color: var(--basicPink);
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 8vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    margin: 6vw 0 2vw 0;
  }

  .titleBox {
    background-color: var(--mainColor);
    height: 38vw;
    position: relative;
  }

  .mainMobileImage {
    height: 180vw;
    position: relative;
  }

  .slideshowContainer {
    /* height: 74vw; */
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 50px;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10vw;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
  }

  .slideshowContainer::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }

  .scrollBox {
    width: 80vw;
    height: 64vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8vw;
    position: relative;
  }

  ul {
    padding: 2vw 0 2vw 4vw;
    margin: 0 6vw 0 6vw;
  }

  li {
    padding-left: 4px;
    color: #000;
    font-family: "myriad-pro-condensed", sans-serif;
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .pinkButton {
    position: absolute;
    bottom: 3vw;
    margin: 2vw 0 2vw 0;
    color: var(--white);
    font-family: "myriad-pro", sans-serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: 900;
    line-height: 120.438%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 2vw 4vw 2vw 4vw;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    background: var(--basicPink);
    cursor: pointer;
  }

  .pinkButton:hover {
    background: var(--lightPink);
  }

  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 20px;
  }

  .dot {
    display: inline-block;
    height: 4vw;
    width: 4vw;
    margin: 0 2vw;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dot:hover,
  .dot.active {
    background-color: var(--mainColorDarker);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 60vw;
    max-width: 400px;
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #000;
  }

  .overlay.active {
    visibility: visible;
    opacity: 1;
  }

  h6 {
    margin: 8vw;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .slideshowProductContainer {
    width: 100%;
    /* position: absolute; */
    /* left: 0px;
     bottom: 50px; */
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 10vw;
    scroll-behavior: smooth;
  }

  .scrollProductBox {
    width: 74vw;
    height: auto;
    padding: 4vw;
    flex-shrink: 0;
    scroll-snap-align: center;
    border: 2px solid var(--mainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8vw;
    position: relative;
  }

  .numbers {
    position: absolute;
    top: -1px;
    width: 30vw;
    height: auto;
  }

  .number1 {
    content: url('./images_1/numb1.png');
  }

  .scrollProductBox h6 {
    margin: 16vw 0 0 0;
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  p {
    color: #000;
    text-align: center;
    font-family: "myriad-pro", sans-serif;
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .productSectors{
    display:flex;
    flex-direction: row;
  }

  .oneProductSector {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 4px 50px 2px;
  }

  .productImages {
    height: 50vw;
    width: auto;
  }

  .productImg1 {
    content: url('./images_1/Magazyn_400x600_produkt.png');
  }

  .productImg2 {
    content: url('./images_1/Magazyn_400x600_produkt2.png');
  }

  .oneProductSector .pinkButton {
    padding: 2vw 3vw;
  }

  .secondMobileImage {
    /* display: flex;
    flex-direction: column; */
    height: 200vw;
    position: relative;

  }

  .secondMobileImage .dots {
    /* position:relative; */
  }

  .secondMobileImage .dot {
    background-color: #cabfaa;
  }

  .footerBtns {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    position: relative;
  }

}